body {
  margin: 0;
  padding: 0;
}
@import "./signin/signin.scss";
// @import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.App {
  .home {
    .header {
      width: 100%;
      height: 40px;
      background: #8FC357;
      .logout {
        color: #ffffff;
        border: 1px solid #ffffff;
        float: right;
        margin: 4px 5px;
        padding: 5px;
        cursor: pointer;
      }
    }
    .searchBox {
      width: 100%;
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #8FC357;
        text-align: center;
        color: #fff;
        font-family: 'FontAwesome';
        content: '\f002';
      }
      .searchTerm {
        box-sizing: border-box;
        width: 100%;
        border: 5px solid #8FC357;
        padding: 5px;
        height: 40px;
        outline: none;
      }
      .searchButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        cursor: pointer;
      }
    }
    .pagination {
      width: 100%;
      margin: 15px 0;
      display: flex;
      ul {
        display: flex;
        margin: 0 auto;
        li {
          width: 35px;
          height: 30px;
          margin: 0 5px 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          cursor: pointer;
          background-color: #ededed;
          &.active {
            background-color: #8FC357;
            color: #FFF;
          }
        }
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      .pokemonsFilter {
        width: 30%;
        select {
          width: 100%;
          padding: 5px;
          margin: 10px;
        }
      }
      .list {
        width: 69%;
        .listBox {
          max-width: 600px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .listItem {
            width: 40%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 10px;
            .name {
              &::first-letter {
                text-transform: uppercase;
              }
            }
            img {
              width: 100%;
            }
          }
          .loading {
            margin: 0 auto;
            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
    
  }
}