.signIn {
  width: 500px;
  margin: 0 auto;
  .facebookLogin {
    padding: 5px;
    width: 100%;
    text-align: center;
    margin: 5px auto;
    background: #4267b2;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
  }
  .signinHeader {
    width: 100%;
    border-bottom: 3px solid #00ba00;
    color: #00ba00;
    padding: 5px;
  }
  .signinFields {
    padding: 5px;
    input {
      width: 100%;
      padding: 5px;
    }
  }
}
